In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [3]:
# Generate our categorical variable list
tele_df = pd.get_dummies(tele_df)
tele_df

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
1,37,0,0,0,0,0,0,0,1,0,...,1,0,1,0,0,1,1,0,1,0
2,40,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
3,56,0,0,0,0,0,0,0,1,0,...,1,0,1,0,1,0,0,1,1,0
4,59,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30472,73,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,1,0,0,1
30473,46,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
30474,56,0,0,0,0,0,1,0,0,0,...,0,1,1,0,0,1,1,0,1,0
30475,44,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,1,0,0,1
30476,74,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,1,0,1,0

In [4]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [5]:
# Create the SVM model
svm = SVC(kernel='linear')

In [6]:
# Train the model
svm.fit(X_train, y_train)

SVC(kernel='linear')

In [7]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [9]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
715/715 [==============================] - 1s 749us/step - loss: 0.5260 - accuracy: 0.7929
Epoch 2/50
715/715 [==============================] - 0s 662us/step - loss: 0.3609 - accuracy: 0.8795
Epoch 3/50
715/715 [==============================] - 0s 670us/step - loss: 0.3714 - accuracy: 0.8731
Epoch 4/50
715/715 [==============================] - 0s 655us/step - loss: 0.3701 - accuracy: 0.8739
Epoch 5/50
715/715 [==============================] - 0s 640us/step - loss: 0.3684 - accuracy: 0.8728
Epoch 6/50
715/715 [==============================] - 0s 629us/step - loss: 0.3600 - accuracy: 0.8773
Epoch 7/50
715/715 [==============================] - 0s 650us/step - loss: 0.3613 - accuracy: 0.8764
Epoch 8/50
715/715 [==============================] - 0s 640us/step - loss: 0.3692 - accuracy: 0.8717
Epoch 9/50
715/715 [==============================] - 1s 725us/step - loss: 0.3711 - accuracy: 0.8710
Epoch 10/50
715/715 [==============================] - 0s 665us/step - loss: 0.3620 - accuracy: 0.8741
Epoch 11/50
715/715 [==============================] - 0s 690us/step - loss: 0.3588 - accuracy: 0.8770
Epoch 12/50
715/715 [==============================] - 0s 683us/step - loss: 0.3653 - accuracy: 0.8731
Epoch 13/50
715/715 [==============================] - 1s 866us/step - loss: 0.3616 - accuracy: 0.8752
Epoch 14/50
715/715 [==============================] - 1s 834us/step - loss: 0.3681 - accuracy: 0.8722
Epoch 15/50
715/715 [==============================] - 1s 921us/step - loss: 0.3618 - accuracy: 0.8756
Epoch 16/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3673 - accuracy: 0.8728
Epoch 17/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3629 - accuracy: 0.8729
Epoch 18/50
715/715 [==============================] - 1s 704us/step - loss: 0.3583 - accuracy: 0.8745
Epoch 19/50
715/715 [==============================] - 0s 638us/step - loss: 0.3583 - accuracy: 0.8760
Epoch 20/50
715/715 [==============================] - 0s 648us/step - loss: 0.3569 - accuracy: 0.8765
Epoch 21/50
715/715 [==============================] - 1s 719us/step - loss: 0.3623 - accuracy: 0.8749
Epoch 22/50
715/715 [==============================] - 0s 675us/step - loss: 0.3562 - accuracy: 0.8770
Epoch 23/50
715/715 [==============================] - 0s 651us/step - loss: 0.3702 - accuracy: 0.8696
Epoch 24/50
715/715 [==============================] - 0s 682us/step - loss: 0.3633 - accuracy: 0.8724
Epoch 25/50
715/715 [==============================] - 0s 626us/step - loss: 0.3626 - accuracy: 0.8738
Epoch 26/50
715/715 [==============================] - 0s 640us/step - loss: 0.3644 - accuracy: 0.8723
Epoch 27/50
715/715 [==============================] - 0s 633us/step - loss: 0.3639 - accuracy: 0.8731
Epoch 28/50
715/715 [==============================] - 0s 638us/step - loss: 0.3670 - accuracy: 0.8716
Epoch 29/50
715/715 [==============================] - 0s 636us/step - loss: 0.3625 - accuracy: 0.8730
Epoch 30/50
715/715 [==============================] - 1s 731us/step - loss: 0.3658 - accuracy: 0.8732
Epoch 31/50
715/715 [==============================] - 0s 651us/step - loss: 0.3642 - accuracy: 0.8742
Epoch 32/50
715/715 [==============================] - 0s 654us/step - loss: 0.3601 - accuracy: 0.8746
Epoch 33/50
715/715 [==============================] - 0s 669us/step - loss: 0.3617 - accuracy: 0.8736
Epoch 34/50
715/715 [==============================] - 0s 665us/step - loss: 0.3638 - accuracy: 0.8730
Epoch 35/50
715/715 [==============================] - 0s 663us/step - loss: 0.3635 - accuracy: 0.8718
Epoch 36/50
715/715 [==============================] - 1s 715us/step - loss: 0.3626 - accuracy: 0.8726
Epoch 37/50
715/715 [==============================] - 0s 662us/step - loss: 0.3712 - accuracy: 0.8681
Epoch 38/50
715/715 [==============================] - 0s 631us/step - loss: 0.3634 - accuracy: 0.8746
Epoch 39/50
715/715 [==============================] - 0s 640us/step - loss: 0.3592 - accuracy: 0.8749
Epoch 40/50
715/715 [==============================] - 0s 636us/step - loss: 0.3555 - accuracy: 0.8765
Epoch 41/50
715/715 [==============================] - 0s 636us/step - loss: 0.3561 - accuracy: 0.8763
Epoch 42/50
715/715 [==============================] - 0s 657us/step - loss: 0.3611 - accuracy: 0.8746
Epoch 43/50
715/715 [==============================] - 0s 641us/step - loss: 0.3651 - accuracy: 0.8732
Epoch 44/50
715/715 [==============================] - 0s 633us/step - loss: 0.3659 - accuracy: 0.8722
Epoch 45/50
715/715 [==============================] - 0s 643us/step - loss: 0.3627 - accuracy: 0.8736
Epoch 46/50
715/715 [==============================] - 0s 636us/step - loss: 0.3672 - accuracy: 0.8691
Epoch 47/50
715/715 [==============================] - 0s 631us/step - loss: 0.3604 - accuracy: 0.8735
Epoch 48/50
715/715 [==============================] - 0s 637us/step - loss: 0.3617 - accuracy: 0.8743
Epoch 49/50
715/715 [==============================] - 0s 633us/step - loss: 0.3563 - accuracy: 0.8757
Epoch 50/50
715/715 [==============================] - 0s 645us/step - loss: 0.3632 - accuracy: 0.8723
239/239 - 0s - loss: 0.3683 - accuracy: 0.8732
Loss: 0.3682558536529541, Accuracy: 0.8732283711433411